.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
scripts/**
test/**
out/test/**
dist/**
.ctcb-cache/**
/third_party/**
extension.js
