platformio==6.1.17

# API dependencies
fastapi==0.115.11
uvicorn[standard]==0.34.0
python-multipart==0.0.20
disklru==2.0.0
psutil==6.1.1

# File transfer utility
# https://github.com/zackees/tx
wormhole-tx
